<div class="bg-primary bg-opacity-50">
    <ul class="list-group">
      <a class="list-group-item list-group-item-action active" aria-current="true">
        Subir puntos
      </a>
        <a class="list-group-item text-light bg-success btn btn-primary" role="button" (click)="addPointsMatematicas()"> Add  </a>
        <a class="list-group-item text-light bg-success">  </a>
        <a class="list-group-item text-light bg-success"> </a>
        <a class="list-group-item text-light bg-success"> </a>
        <a class="list-group-item text-light bg-success"> </a>
      </ul>
</div>