<div class="bg-primary bg-opacity-50">
    <ul class="list-group">
        <a class="list-group-item text-light bg-success" href="#Africa">Africa</a>
        <a class="list-group-item text-light bg-success" href="#America"> America </a>
        <a class="list-group-item text-light bg-success" href="#Asia">Asia </a>
        <a class="list-group-item text-light bg-success" href="#Europe">Europe </a>
        <a class="list-group-item text-light bg-success" href="#Oceania">Oceania </a>
      </ul>
</div>