<div class="wrapper">
    <hr id="Africa"/>
  <h1 class="text-center display-4 text-muted">Africa</h1>
  <div class="row">
    <app-card
      class="col"
      country="Algeria"
      description="Algeria, officially the People's Democratic Republic of Algeria, is a country in North Africa. Algeria is bordered to the northeast by Tunisia; to the east by Libya; to the southeast by Niger; to the southwest by Mali, Mauritania, and Western Sahara."
      wiki="https://en.wikipedia.org/wiki/Algeria"
    ></app-card>
    <app-card
      class="col"
      country="Egypt"
      description="Egypt, officially the Arab Republic of Egypt, is a transcontinental country spanning the northeast corner of Africa and southwest corner of Asia via a land bridge formed by the Sinai Peninsula. "
      wiki="https://en.wikipedia.org/wiki/Egypt"
    >
    </app-card>
  </div>
  <hr id="America" />
  <h1 class="text-center display-4 text-muted" >America</h1>
  <div class="row">
    <app-card
      class="col"
      country="Argentina"
      description="Argentina, is a country in the southern half of South America. Argentina covers an area of 2,780,400 km2 (1,073,500 sq mi), making it the second-largest country in South America after Brazil, the fourth-largest country in the Americas"
      wiki="https://en.wikipedia.org/wiki/Argentina"
    ></app-card>
    <app-card
      class="col"
      country="Mexico"
      description="Mexico, is a country in the southern portion of North America. Mexico covers 1,972,550 km2 (761,610 sq mi), making it the world's 13th-largest country by area; with a population of over 126 million, it is the 10th-most-populous country and has the most Spanish-speakers."
      wiki="https://en.wikipedia.org/wiki/Mexico"
    >
    </app-card>
  </div>
  <hr id="Asia"/>
  <h1 class="text-center display-4 text-muted" >Asia</h1>
  <div class="row">
    <app-card
      class="col"
      country="Japan"
      description="Japan (Japanese: 日本, Nippon or Nihon, and formally 日本国, Nihonkoku) is an island country in East Asia. It is situated in the northwest Pacific Ocean and is bordered on the west by the Sea of Japan."
      wiki="https://en.wikipedia.org/wiki/Japan"
    ></app-card>
    <app-card
      class="col"
      country="Lebanon"
      description="Lebanese Republic, is a country in Western Asia. It is located between Syria to the north and east and Israel to the south, while Cyprus lies to its west across the Mediterranean Sea."
      wiki="https://en.wikipedia.org/wiki/Lebanon"
    >
    </app-card>
  </div>
  <hr id="Europe"/>
  <h1 class="text-center display-4 text-muted" >Europe</h1>
  <div class="row">
    <app-card
      class="col"
      country="Italy"
      description="Italy is a country in Southern and Western Europe. Located in the middle of the Mediterranean Sea, it consists of a peninsula delimited by the Alps and surrounded by several islands."
      wiki="https://en.wikipedia.org/wiki/Italy"
    ></app-card>
    <app-card
      class="col"
      country="Spain"
      description="Spain is a country primarily located in southwestern Europe with parts of territory in the Atlantic Ocean and across the Mediterranean Sea."
      wiki="https://en.wikipedia.org/wiki/Spain"
    >
    </app-card>
  </div>
  <hr id="Oceania"/>
  <h1 class="text-center display-4 text-muted" >Oceania</h1>
  <div class="row">
    <app-card
      class="col"
      country="Australia"
      description="Australia, officially the Commonwealth of Australia, is a sovereign country comprising the mainland of the Australian continent, the island of Tasmania, and numerous smaller islands. With an area of 7,617,930 square kilometres (2,941,300 sq mi)."
      wiki="https://en.wikipedia.org/wiki/Australia"
    ></app-card>
    <app-card
      class="col"
      country="New Zealand"
      description="New Zealand is an island country in the southwestern Pacific Ocean. It consists of two main landmasses—the North Island and the South Island and over 700 smaller islands. It is the sixth-largest island country by area, covering 268,021 square kilometres (103,500 sq mi)."
      wiki="https://en.wikipedia.org/wiki/New_Zealand"
    >
    </app-card>
  </div>
</div>
